{:paths ["src"]
    :deps
        {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.cli {:mvn/version "1.0.214"}
        org.clojure/test.check {:mvn/version "1.1.1"}
        org.clojure/core.async {:mvn/version "1.4.627"}}
:aliases{
	:test
 {:extra-paths ["test"]
  :extra-deps {com.cognitect/test-runner
               {:git/url "https://github.com/cognitect-labs/test-runner.git"
                :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}
               org.clojure/test.check {:mvn/version "1.1.1"}}
  :main-opts ["-m" "cognitect.test-runner"]}
:run
  {:extra-paths ["src"]
  :main-opts ["-m" "lab3.core"]}
:lint
  {:extra-paths ["src" "test"]
  :extra-deps {cljfmt/cljfmt {:mvn/version "0.9.0"}}
  :main-opts ["-m" "cljfmt.main check"]}
:lint_fix
  {:extra-paths ["src" "test"]
  :extra-deps {cljfmt/cljfmt {:mvn/version "0.9.0"}}
  :main-opts ["-m" "cljfmt.main fix"]}
  }}
